extends ../templates/default/layout.jade

block content
    div.photo
        div.bar
            div.title= title
            div.menu
                span.left &lt;
                span.right &gt;
        ul
            each photo in photos
                li
                    p= photo.title
                    img.photo-bg(src=photo.path)

